body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto; /* Center container vertically */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px; /* Slightly reduce space between label and input */
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd; /* Add a subtle border for better input separation */
  border-radius: 3px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: none; /* Remove button border for cleaner look */
  border-radius: 3px;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
}

#enable-2fa {
  text-align: center;
}

#qr-code {
  max-width: 100%; /* Ensure QR code is responsive */
  margin: 20px auto;
  display: block; /* Center QR code */
}
